<ion-header translucent>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-avatar class="avatar">
    <img src="../../../assets/icon/db.png">
  </ion-avatar>

  <br>

  <div class="ion-text-center">
    <ion-button fill="outline" shape="round">Editar</ion-button>
  </div>

  <div class="ion-text-center">
    <h2>Danilo Borges</h2>
  </div>

  <div class="ion-text-center">
    <h6 class="colorEmail">dbb1307@gmail.com</h6>
  </div>

  <div class="ion-text-center">
    <h6 class="colorEmail">(14)99682-6968</h6>
  </div>
  

</ion-content>
