<ion-header translucent>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Sobre</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding> 

  <h2 class="ion-text-center" style="font-style: Impact; font-weight: 900;">BICHO BOM</h2>
  <ion-avatar class="avatar">
    <img src="./../../../assets/icon/logoofc.jpg">
  </ion-avatar>
 

  <hr>
  <h6 class="ion-text-center" >V1.2</h6>
  <h6 class="ion-text-center">Um pouco sobre nós...</h6>
  <p class="ion-text-justify" style="margin-left: 20px; text-align:justify; margin-right: 20px;">Buscamos nesse aplicativo facilitar a comunicação entre os usuários que desejam adotar, doar e buscar por um animal perdido. Por favor, ajude os animais.</p>
  <h5 class="ion-text-center" >Desenvolvedores</h5>
  <h6 class="ion-text-center" >Danilo Borges - João Paulo Oliveira</h6>
  

 


</ion-content>
