<ion-header translucent>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Sobre</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding> 

  <h2 class="ion-text-center" style="font-style: Impact; font-weight: 900;">BICHO BOM</h2>
    <div class="logo">   
       <img src="../../../assets/icon/logoofc.jpg" />
    </div>
 

  <hr>
  <h6 class="ion-text-center" >V1.0</h6>
  <h5 class="ion-text-center">Um pouco sobre nós...</h5>
  <p class="ion-text-justify" style="margin-left: 20px; text-align:justify; margin-right: 20px;">Nós somos alunos da FATEC de Ourinhos/SP, do 6º semestre do periodo vespertino.
    A gente teve essa idéia do aplicativo no 4º semestre, e desde então começamos
    a colocar a idéia em prática e iniciamos o desenvolvimento.
    Com muita pesquisa notamos que já havia muitos aplicativos, com o mesmo
    objetivo, mas poucos com todas as funções que o nosso aplicativo aborda. Como, doação,
    adoção e busca de animais perdidos.</p>

  <hr>

 


</ion-content>
