<ion-content padding>
  <div padding>
    <ion-card>
      <ion-card-content>
        <img class="logo" src="./../../assets/imgs/logo-2.png">
      </ion-card-content>
    </ion-card>

    
    <ion-button (click)="facebookLogin()" shape="round" class="btn-facebook" color="secondary">Entrar com Facebook</ion-button>
    
    <script async defer src="https://connect.facebook.net/en_US/sdk.js"></script>

    <div class="separator" style="color: white;">OU</div>

    <form #form="ngForm" novalidate>
      <div padding>

       
        <!-- email -->
        <ion-list class="bg-transparent">
          <ion-item class="email" lines="none" color="none">
            <ion-label>
              <ion-icon class="iconeEmail" name="mail"></ion-icon>
            </ion-label>

            <ion-input transparent placeholder="E-mail" class="placeholderEmail" type="text" name="email" [(ngModel)]="user.email"
              #email="ngModel" required></ion-input>
          </ion-item>
          <p *ngIf="email.errors && (email.dirty || email.touched)" class="text-danger">
            O campo E-mail é obrigatório
          </p>

          <!-- senha -->
          <ion-item class="email" lines="none" color="none">
            <ion-label>
              <ion-icon class="iconeSenha" name="lock-closed"></ion-icon>
            </ion-label>
            <ion-input transparent class="placeholderSenha" type="password" placeholder="Senha" name="password"
              [(ngModel)]="user.password" #password="ngModel" required></ion-input>
          </ion-item>
          <p *ngIf="password.errors && (password.dirty || password.touched)" class="text-danger">
            O campo Senha é obrigatório
          </p>

        </ion-list>
        <!-- botaoEntrar -->
        <ion-button class="btn-color" expand="block" shape="round" block [disabled]="!form.form.valid" (click)="signIn()">Entrar</ion-button>
      </div>
    </form>

    <ion-row>
      <ion-col col-12>
        <ion-button [routerLink]="['/cadastro']" expand="block" shape="clear" class="btn-clear" >Inscrever-se</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <ion-button [routerLink]="['/redefinir-senha']" expand="block" shape="clear" class="btn-clear">Redefinir senha</ion-button>
      </ion-col>
    </ion-row>
  </div>

</ion-content>
