<ion-content class="ion-padding" class="ion-text-center">
  <div class="ion-padding">
    <br> <br>

    <ion-avatar class="avatar">
      <img src="./../../../assets/icon/logoofc.jpg">
    </ion-avatar>

    <div class="ion-text-center">
      <h2 style="color: white;">BICHO BOM</h2>
    </div>

    <form #form="ngForm" novalidate>
      <ion-list class="bg-transparent">
        <!-- NOME -->
        <ion-item class="txtTransparent" lines="none" color="none"> 
            <ion-label>
              <ion-icon class="corIcone" name="person"></ion-icon>
            </ion-label>
            <ion-input class="placeholderEmail" type="text" placeholder="Nome" name="nome" [(ngModel)]="user.nome" #nome="ngModel" required>
            </ion-input>
          </ion-item>
          <!-- FIM DO NOME -->
          <p *ngIf="email.errors && (email.dirty || email.touched)" class="text-danger">
            O campo Nome é obrigatório
          </p>
        <!-- EMAIL -->
        <ion-item class="txtTransparent" lines="none" color="none"> 
          <ion-label>
            <ion-icon class="corIcone" name="mail"></ion-icon>
          </ion-label>
          <ion-input class="placeholderEmail" type="text" placeholder="E-mail" name="email" [(ngModel)]="user.email" #email="ngModel" required>
          </ion-input>
        </ion-item>
        <!-- FIM DO EMAIL -->
        <p *ngIf="email.errors && (email.dirty || email.touched)" class="text-danger">
          O campo E-mail é obrigatório
        </p>
        <!-- SENHA -->
        <ion-item class="txtTransparent" lines="none" color="none">
          <ion-label>
            <ion-icon class="corIcone" name="lock-closed"></ion-icon>
          </ion-label>
          <ion-input class="placeholderEmail" type="password" placeholder="Senha" name="password" [(ngModel)]="user.password" #password="ngModel"
            required></ion-input>
        </ion-item>
        <!-- FIM DA SENHA -->
        <p *ngIf="password.errors && (password.dirty || password.touched)" class="text-danger">
          O campo Senha é obrigatório
        </p>
        <!-- CONFIRMAR SENHA -->
        <ion-item class="txtTransparent" lines="none" color="none">
          <ion-label>
            <ion-icon class="corIcone" name="lock-closed"></ion-icon>
          </ion-label>
          <ion-input class="placeholderEmail" type="password" placeholder="Confirmar Senha" name="rePassword" [(ngModel)]="user.rePassword"
            #rePassword="ngModel" required></ion-input>
        </ion-item>
        <!-- FIM DO CONFIRMAR SENHA -->
        <p *ngIf="rePassword.errors && (rePassword.dirty || rePassword.touched)" class="text-danger">
          O campo Confirmar Senha é obrigatório
        </p>

      </ion-list>

      <ion-button class="btnCriarConta" color="secondary" ion-button expand="block" shape="round" [disabled]="!form.form.valid" (click)="createAccount()">Criar Conta</ion-button>
       

    </form>

    <ion-row>
      <ion-col>
        <ion-button [routerLink]="['/login']" ion-button expand="block" shape="clear"  class="btn-clear" >Já tem uma conta?</ion-button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
