b.upload{
    text-align: center;
    align-items: center;
}

.imgDoacao{ 
  max-width: 100px;
  max-height: 100px;
  width: auto;
  height: auto;
  margin: auto;
}

ion-content {
    div {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
   }

   ion-content {
    width: 100% !important;
    height: 100% !important;
    background-size: cover !important;
    background-position: center !important;
  }

  .placeholderEmail{
    --color: #000000;
  }

  