<ion-header translucent>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Registrar Doação</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen class="ion-padding">

  <form [formGroup]="formDoacao" novalidate (submit)="salvarDoacao()"> 

  <ion-item class="txtTransparent"  > 
    <ion-input formControlName="nomePet" class="placeholderEmail" type="text" placeholder="Nome do pet" name="email" required></ion-input>
  </ion-item>


  <ion-item class="txtTransparent" > 
    <ion-input formControlName="raca" class="placeholderEmail" type="text" placeholder="Raça" name="email" required></ion-input>
  </ion-item>

  <ion-item class="txtTransparent" > 
    <ion-input formControlName="celular" class="placeholderEmail" placeholder="Celular p/ contato com DDD" [brmasker]="{mask:'(99)9 9999-9999', len:15}" name="email" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Pet</ion-label>
    <ion-select formControlName="sexo">
      <ion-select-option value="macho">Macho</ion-select-option>
      <ion-select-option value="femea">Fêmea</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item class="txtTransparent"> 
    <ion-textarea formControlName="obs" class="placeholderEmail" placeholder="Observações..."></ion-textarea>
  </ion-item>


  <ion-grid>
    <ion-radio-group formControlName="tipoPet" value="grape">
      <ion-row>
        <ion-col col-6> 
          <ion-item>
            <img src="../../../assets/icon/cachorro.png">
            <ion-radio slot="start" color="primary" value="cachorro"></ion-radio>
          </ion-item>
        </ion-col>

        <ion-col col-6> 
          <ion-item >
            <img src="../../../assets/icon/gato.png">
            <ion-radio slot="start" color="primary" value="gato"></ion-radio>
          </ion-item>
      </ion-col>
    </ion-row>
    </ion-radio-group>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col col-12>
         <div class="text-center">      
          <b style="text-align:center;" class="upload">
           Faça upload da foto do animal
          </b>   
        </div>

      </ion-col>
    </ion-row>
  </ion-grid>

 
  <ion-button expand="block" shape="round" color="primary" (click)="openGalery()">
    Upload
    <ion-icon  slot="end"  name="cloud-upload-sharp"></ion-icon>
  </ion-button>

  <br> <br> <br> <br> 

  <ion-button [disabled]="!formDoacao.valid" type="submit" expand="block" shape="round" color="primary">
    Cadastrar animal para doação
    <ion-icon slot="end" name="checkmark-circle-sharp"></ion-icon>
  </ion-button>

</form>
  
</ion-content>
