ion-grid{
    margin-top: 50px;
    width:100%;
    margin-left:0 !important;
    margin-right:0 !important;
}

div.figure {
    text-align: center;
  }

  ion-content {
    width: 100% !important;
    height: 100% !important;
    background-size: cover !important;
    background-position: center !important;
  }

  .toolbar-container{
    --ion-color: primary;
  }

  .ion-toolbar{
    --ion-background-color: #ff3700;
  }


  .toolbar{
    --background: #000000;
  }