.fotosPets img {
    max-width: 500px;
    max-height: 200px;
    width: auto;
    height: auto;
    margin-left: 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    border: 2px solid #ffffff;
    border-radius: 5px;
}

ion-card-subtitle{
    text-align: center;
}

