<ion-header translucent>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Adote um Amigo </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" class="ion-text-center">

  <ion-searchbar [(ngModel)]="buscarCidade" placeholder="Buscar por cidade...">
  </ion-searchbar>

  <div>
    <ion-card *ngFor="let bicho of bichos | async | filtro: buscarCidade ">
      <br>
      <div class="fotosPets">
        <img [src]="bicho.urlFoto" />
      </div>

      <ion-card-header>
        <ion-card-title>Nome: {{bicho.nomePet}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>

        <ion-grid>
          <ion-row>
            <ion-col>
              <b>Sexo: {{bicho.sexo}}</b>
              <br>
              <b>Tipo: {{bicho.tipoPet}}</b>
              <br>
              <b>Estado: {{bicho.estado}}</b>
              <br>
              <b>Cidade: {{bicho.cidade}}</b>
              <br>          
              <b>Observações: {{bicho.obs}}</b>
              <br>
              <b>WhatsApp: <a> {{bicho.celular}} </a> </b>
            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-card-content>
    </ion-card>
  </div>
</ion-content>