<ion-header translucent>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Adote um amigo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card>
    <div class="fotosPets">   
       <img src="../../../assets/imgs/thor.jpg" />
    </div>

    <ion-card-header>
      <ion-card-subtitle>Ourinhos-SP</ion-card-subtitle>
      <ion-card-title>Thor</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Raça: Border collie</p>
      <p>Sexo: Macho</p>
      <p>Tipo do pet: Cachorro</p>
      <p>Telefone p/ contato: (14)9 99682-6968</p>
      <ion-button type="submit" expand="block" shape="round" color="primary">
        Enviar mensagem
        <ion-icon slot="end" name="chatbubbles-sharp"></ion-icon>
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <div class="fotosPets">   
       <img src="../../../assets/imgs/dogef.jpg" />
    </div>

    <ion-card-header>
      <ion-card-subtitle>Tupã-SP</ion-card-subtitle>
      <ion-card-title>Bob-marley</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Raça: Vira-Lata</p>
      <p>Sexo: Macho</p>
      <p>Tipo do pet: Cachorro</p>
      <p>Telefone p/ contato: (14)9 99682-5898</p>
      <ion-button type="submit" expand="block" shape="round" color="primary">
        Enviar mensagem
        <ion-icon slot="end" name="chatbubbles-sharp"></ion-icon>
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
